<ion-header>

  <ion-navbar>
    <ion-title>myTest</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- <ion-list>
    <ion-item *ngFor="let user of usuarios">
      <ion-avatar item-start>
      <img item-start [src]="user.picture.thumbnail">
      </ion-avatar>
      <h2>{{ user.name.first | uppercase }}</h2>
      <p>{{ user.email }}</p>
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let item of listaResidencias">
    <!-- <img class="circle-pic" src="assets/imgs/logo.png" ng-click="onclick()"> -->
    <!-- <button class="buttonfav" ion-button color="dark" icon-only>
      <ion-icon name='heart-outline' is-active="false"></ion-icon>
    </button> -->
    <button (click)="resinfo(item)">
      <img [src]="item.Imagen" />
    </button>
    <ion-item>
      <ion-avatar item-start>
        <button (click)="resinfo(item)">
          <img src="assets/imgs/user.png">
        </button>
      </ion-avatar>
      <h2 text-wrap>{{ item.Titulo }}</h2>
      <p style="font-size: 0.7em !important;">11 N. Way St, Madison, WI 54703</p>
      <button item-end ion-button color="danger" icon-only clear>
        <ion-icon name='heart-outline' isActive="false"></ion-icon>
      </button>
    </ion-item>
  </ion-card>

</ion-content>
